@-webkit-keyframes animacao{
   0%   { 
    -webkit-box-shadow: 0px 0px 29px 8px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 29px 8px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 29px 8px rgba(50, 50, 50, 1);
   }
   50%  { 
    -webkit-box-shadow: 0px 0px 29px 15px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 29px 15px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 29px 15px rgba(50, 50, 155, 1);
   }
   100% { 
    -webkit-box-shadow: 0px 0px 29px 8px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 29px 8px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 29px 8px rgba(50, 50, 50, 1);
   }
}

@keyframes animacao{
   0%   { 
    -webkit-box-shadow: 0px 0px 29px 8px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 29px 8px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 29px 8px rgba(50, 50, 50, 1);
   }
   50%  { 
    -webkit-box-shadow: 0px 0px 29px 15px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 29px 15px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 29px 15px rgba(50, 50, 155, 1);
   }
   100% { 
    -webkit-box-shadow: 0px 0px 29px 8px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 29px 8px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 29px 8px rgba(50, 50, 50, 1);
   }
}

.quadro {
    width: 300px;
    height: 400px;
    border: 1px solid;
    border-radius: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -200px;
    -webkit-box-shadow: 0px 0px 29px 8px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 29px 8px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 29px 8px rgba(50, 50, 50, 1);  
    
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;
}

    .animado{
        -webkit-animation-name: animacao;
        -webkit-animation-duration: 2s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-play-state: running;

        -moz-animation-name: animacao;
        -moz-animation-duration: 2s;
        -moz-animation-timing-function: linear;
        -moz-animation-iteration-count: infinite;
        -moz-animation-play-state: running;
    }
